In [541]:
keys = ['a','b','c','d','e'] 
values = [1,2,3,4,5]  

mydict = dict(zip(keys,values))
print(type(mydict))
print(mydict)

Mydict = {k:v for (k,v) in zip(keys,values)}
print(type(Mydict))
print(Mydict)

for (k,v) in zip(keys,values):
    print(k,v)

<class 'dict'>
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
<class 'dict'>
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
a 1
b 2
c 3
d 4
e 5

In [577]:
mydict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
lst = list(x for x in mydict.values())
print(lst)

new_dict = {x:x**3 for x in lst}
func = lambda x:x**3
new1_list = map(func,lst)
func2 = lambda x : x%2 == 0
new10_list = filter(func2,lst)
new11_list = [x for x in new10_list]
print(new11_list)

for x in new1_dict:
    print(x)
new2_lst = list(*new1_dict)
print(new2_lst)

[1, 2, 3, 4, 5]
[2, 4]
[]

In [580]:
a = 5
table = [[a, b, a * b] for b in range(1, 11)]
print(table)

[[5, 1, 5], [5, 2, 10], [5, 3, 15], [5, 4, 20], [5, 5, 25], [5, 6, 30], [5, 7, 35], [5, 8, 40], [5, 9, 45], [5, 10, 50]]

In [583]:
print([[0 for i in range(9)] for j in range(9)])

[[0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [599]:
import functools
from functools import reduce 
max = reduce(lambda a,b : a if a > b else b, [700,12,145,110,15])
print(max)

700

In [610]:
import itertools
from itertools import accumulate 
sum =  itertools.accumulate([700,12,45,10,15], lambda a,b : a + b)
print(list(sum))

[700, 712, 757, 767, 782]

In [611]:
arr = [0, 1, 0, 1, 0, 0, 1, 1, 1, 0]
arr_0 = list(x for x in arr if x == 0)
arr_1 = list(x for x in arr if x == 1)
arr_output = arr_0 + arr_1
print(arr_output)

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [637]:
num = 21
binary = bin(num)
lst = [int(x) for x in binary[2:]]
sum = reduce(lambda a,b : (a+b),  lst)
print(sum)

3

In [643]:
from string import punctuation
punctuation  += ' '
str = "$Gee*k;s..fo, r'Ge^eks?"
print(''.join([w for w in str if w not in punctuation]))

GeeksforGeeks

In [666]:
import re
str = "$Gee*k;s..fo, r'Ge^eks?"
outstr = ''
for m in re.finditer( r'([A-Z]|[a-z])+',str):
    outstr += m.group()
print(outstr)

GeeksforGeeks

In [681]:
str = "$Gee*k;s..fo, r'Ge^eks?"
new_str = ''.join([char for char in str if ord(char) in range(ord('a'),ord('z')+1,1) or ord(char) in range(ord('A'),ord('Z')+1,1) ])
print(new_str)

GeeksforGeeks

In [678]:
ord('a'), ord('z'),ord('A'),ord('Z')

(97, 122, 65, 90)

In [717]:
##finding the kth non repeating element from the string ..string = 'pythonisafunnylanguageitwasnamedonmontypythonshow' k = 3
string = 'pythonisafunnylanguageitwasnamedonmonthypythonshow'
non_repeating = [x for x in string if string.count(x) == 1]
print(non_repeating)
print(non_repeating[2])

['f', 'l', 'd']
d

In [720]:
'''Given two unsorted arrays of distinct elements, the task is to find all pairs from both arrays whose sum is equal to x.
Input :  arr1 = [-1, -2, 4, -6, 5, 7]
         arr2 = [6, 3, 4, 0]  
         x = 8
Output : [(5, 3), (4, 4)]
'''
arr1 = [-1, -2, 4, -6, 5, 7]
arr2 = [6, 3, 4, 0] 
total = 1

lst = [(x,y) for x in arr1 for y in arr2 if (x+y) == total]
print(lst)

[(-2, 3)]

In [730]:
arr1 = [-1, -2, 4, -6, 5, 7]
arr2 = [6, 3, 4, 0]  

print([(x,y) for x in arr1 for y in arr2 if (x+y) == 7])

[(4, 3), (7, 0)]

In [734]:
from string import punctuation
string = "$Gee*k;s..fo, r'Ge^eks?"

lst = [x for x in string if x not in punctuation + ' ']
print(''.join(lst))

GeeksforGeeks

In [738]:

string = "$Gee*k;s..fo, r'Ge^eks?"

print(''.join([x for x in string if ord(x) in range(ord('a'),ord('z')+1,1) or ord(x) in range(ord('A'),ord('Z')+1,1)  ]))

GeeksforGeeks

In [765]:
'''
We are given an array of n distinct numbers, the task is to sort all even-placed numbers in increasing and odd-place numbers in decreasing order. The modified array should contain all sorted even-placed numbers followed by reverse sorted odd-placed numbers.
Note that the first element is considered as even because of its index 0.
Examples:
Input:  arr[] = {0, 1, 2, 3, 4, 5, 6, 7}
Output: arr[] = {0, 2, 4, 6, 7, 5, 3, 1}
Even-place elements : 0, 2, 4, 6
Odd-place elements : 1, 3, 5, 7
Even-place elements in increasing order : 
0, 2, 4, 6
Odd-Place elements in decreasing order : 
7, 5, 3, 1
'''
lst = list(range(1,51))
odd_lst = [x for x in lst if lst.index(x)%2==0] 
even_lst = [x for x in lst if lst.index(x)%2!=0] 
odd_lst.sort(reverse = True) ; even_lst.sort()
final_lst = even_lst + odd_lst
print(final_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [782]:
import copy
'''
Given an array of N elements. The task is to print the array elements in such a way that first two elements are in increasing order, next 3 in decreasing order, next 4 in increasing order and so on.

Examples:

Input : arr = {2, 6, 2, 4, 0, 1, 4, 8, 2, 0, 0, 5}
Output : 0 0 8 6 5 0 1 2 2 4 4 2 2 2

Input : arr = {1, 2, 3, 4, 5, 6}
Output : 1 2 6 5 4 3'''

arr = [2, 6, 2, 4, 0, 1, 4, 8, 2, 0, 0, 5]

arr.sort()
incr_arr = copy.deepcopy(arr)
print(incr_arr)
arr.sort(reverse = True)
desc_arr = copy.deepcopy(arr)
print(desc_arr)
output = []

total = 0
incr_count = 0
desc_count = 0
for x in range(2,len(arr)):
    if x%2 ==0 :
        output += incr_arr[incr_count:incr_count+x]
        incr_count +=x
        
    else :
        output += desc_arr[desc_count:desc_count+x]
        desc_count +=x
    if incr_count+desc_count >= len(arr):
        break
print(output)

[0, 0, 0, 1, 2, 2, 2, 4, 4, 5, 6, 8]
[8, 6, 5, 4, 4, 2, 2, 2, 1, 0, 0, 0]
[0, 0, 8, 6, 5, 0, 1, 2, 2, 4, 4, 2, 2, 2]